        <ol class="tweet-list">
          <li class="tweet-card">
            <div class="tweet-content">
              <div class="tweet-header">
                <span class="fullname">
                  <strong>Jon Vadillo</strong>
                </span>
                <div class="d-inline" style="text-overflow: unset;
                    color: rgb(113, 118, 123);">
                    <span class="username">@JonVadillo</span>
                    <span class="tweet-time">· Mar 18</span>
                </div>
              </div>
              <a>
                <img class="tweet-card-avatar" src="https://idsb.tmgrup.com.tr/ly/uploads/images/2023/11/14/301015.jpg" alt="image_face">
              </a>
              <div class="tweet-text">
                <p class="" lang="es" data-aria-label-part="0">Again... 
                    technology is the future of every business.  
                    Watch this clip to see yet another way that 
                    @UAlberta
                    , 
                    @UCalgary
                    and 
                    @ABInnovates are solving very real problems. 
                    With $75 million across 166 completed and ongoing projects, 
                    our province is a global leader in water conservation and innovation. Thanks to 
                    @rebeccakschulz
                    for joining me for the announcement! #ABLeg #YYC #YEG
                </p>
                <div id="reviewImg" class="mb-3">
                </div>
              </div>
              <div class="tweet-footer">
                <span class="tweet-footer-btn">
                  <i class="bi bi-chat"></i><span>18</span>
                </span>
                <span class="tweet-footer-btn">
                    <svg fill="none" height="25" width="22" xmlns="http://www.w3.org/2000/svg" style="transform: translateY(-2px);">
                        <path d="M18 18.5v-9c0-1.886 0-2.828-.586-3.414S15.886 5.5 14 5.5h-1.5m5.5 13l3-2.5m-3 2.5L15 16M6 5.5v9c0 1.886 0 2.828.586 3.414s1.528.586 3.413.586H11.5M6 5.5L3 8m3-2.5L9 8" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"/>
                    </svg>
                    <span>64</span>
                </span>
                <span class="tweet-footer-btn">
                  <i class="bi bi-heart"></i><span>202</span>
                </span>
                <span class="tweet-footer-btn">
                   <i class="bi bi-bar-chart-line"></i><span>2K</span>
                </span>
              </div>
            </div>
          </li>
          <li class="tweet-card">
            <div class="tweet-content">
              <div class="tweet-header">
                <span class="fullname">
                  <strong>Jon Vadillo</strong>
                </span>
                <span class="username">@JonVadillo</span>
                <span class="tweet-time">- Jul 18</span>
              </div>
              <a>
                <img class="tweet-card-avatar" src="https://pbs.twimg.com/profile_images/679974972278849537/bzzb-6H4_bigger.jpg" alt="">
              </a>
              <div class="tweet-text">
                <p class="" lang="es" data-aria-label-part="0">¡Nuevo artículo en Mozilla!<br>Resuelto: Corregido – Una breve historia sobre un error reportado por la comunidad <a href="https://t.co/dqg5hVQXA0" class="twitter-timeline-link" target="_blank"><span class="">https://www.mozilla-hispano.org/</span></a>                  <a href="" class="twitter-hashtag"><s>#</s><b>firefox</b></a> <a href="" class="twitter-hashtag"><s>#</s><b>comunidad</b></a>
                  <a href="" class="twitter-hashtag" dir="ltr"></a>
                </p>
              </div>
              <div class="tweet-footer">
                <a class="tweet-footer-btn">
                  <i class="octicon octicon-comment" aria-hidden="true"></i><span> 18</span>
                </a>
                <a class="tweet-footer-btn">
                  <i class="octicon octicon-sync" aria-hidden="true"></i><span> 64</span>
                </a>
                <a class="tweet-footer-btn">
                  <i class="octicon octicon-heart" aria-hidden="true"></i><span> 202</span>
                </a>
                <a class="tweet-footer-btn">
                  <i class="octicon octicon-mail" aria-hidden="true"></i><span> 155</span>
                </a>
              </div>
            </div>
          </li>
        </ol>