<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="connect-src 'self' https://api.replicate.com;">
        <title>Tweet Edit Wizard</title>
        <!-- Bootstrap CSS -->
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="container mt-5">
            <div id="image-gallery">
                <%if (images.length > 0) { %>
                <% images.forEach(function(image) { %>
                    <img
                        class="w-25 h-25 d-inline-block"
                        src="data:image/png;base64,<%= image %>"
                        alt="sample"
                    />
                <% }); %> 
                <% } %>
            </div>
            <h1>Tweet Editing Wizard</h1>
            <!-- Add spacing between h2 and h3 -->
            <br />
            <h3>Last Generated Tweet</h3>
            <!-- Show generated tweet bootstrap -->
            <form action="/PROD/edit-tweet" method="post">
                <div class="form-group">
                    <label for="edit_tweet">Manually edited post</label>
                    <div class="card">
                        <input
                            name="edit_tweet"
                            type="text"
                            class="card-text card-body"
                            id="edit_tweet"
                            value="<%= tweet %>"
                        />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
                    Post tweet
                </button>
            </form>
            <br />
            <section id="image-ai">
                This is the AI input image.
            </section>
            <div class="card"  >
                <img
                    id="imageDisplay"
                    class="card-img-top img-fluid img-thumbnail"
                    src="/img/image.jpeg"
                    alt="Card image AI cap"
                    style="width: 450px; align-self: center;"
                />
                <div class="card-body" style="align-items: flex-end; display:flex; flex-direction:column;">
                    <input
                    style="width: 100%;"
                    type="text"
                    class="card-text card-body"
                    name="textInputAI"
                    id="textInputAI"
                    />
                    <button id="image-trigger" class="btn btn-primary mb-5 mt-3" >
                    Generate Image
                    </button>
                </div>
            </div>    
            
            <br />
            <form action="/PROD/new-tweet" method="post">
                <h3>Change ChatGPT Instructions</h3>
                <!-- Text Input for Text Creation Prompt -->
                <div class="form-group">
                    <label for="instructions">Text Description Prompt</label>
                    <textarea
                        name="instructions"
                        class="form-control"
                        id="instructions"
                        rows="3"
                        placeholder="Enter your text here"
                    ></textarea>
                </div>

                <input
                    name="previous_tweet"
                    type="hidden"
                    id="previous_tweet"
                    value="<%= tweet %>"
                />
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary">
                    Submit to AI
                </button>
            </form>
        </div>

        <!-- Custom JS-->
        <script src="/js/generateImage.js"></script>
        <!-- Bootstrap JS and its dependencies -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>
